In [1]:
import pandas_datareader as pdr
import datetime as dt
import matplotlib.pylab as plt

In [2]:
start = dt.datetime(2010,1,1)
end = dt.datetime(2020,1,1)
data =pdr.get_data_yahoo("TQQQ", start,end)

In [3]:
data.head()

                High       Low      Open     Close      Volume  Adj Close
Date
2010-02-11  0.869792  0.811146  0.813750  0.865104   1728000.0   0.862942
2010-02-12  0.876146  0.836667  0.841563  0.868646   4300800.0   0.866475
2010-02-16  0.904375  0.875104  0.889063  0.902292   4809600.0   0.900037
2010-02-17  0.917813  0.900625  0.914375  0.917604   9590400.0   0.915311
2010-02-18  0.940521  0.911146  0.916667  0.935000  19430400.0   0.932663